langchain-text-splitters
langchain
langchain-community
langchainhub
langchain-openai
chromadb
python-dotenv
bs4
firecrawl
langchain-ollama
faiss-cpu
requests
fastapi
uvicorn
pydantic
langchain-classic
pytest
pytest-asyncio
httpx
pytest-mock
dateparser
langgraph
