langchain-text-splitters
langchain
langchain-community
langchainhub
langchain-openai
chromadb
python-dotenv
bs4
wikipedia
firecrawl
langchain-ollama
faiss-cpu
duckduckgo-search
requests
fastapi
uvicorn
pydantic
langchain-classic
pytest
pytest-asyncio
httpx
pytest-mock
dateparser
langgraph
